name: Backend CI

on:
  push:
    paths:
      - "server/**"
      - ".github/workflows/backend-ci.yml"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: server

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test --if-present
