name: Frontend CI

on:
  push:
    paths:
      - "client/**"
      - ".github/workflows/frontend-ci.yml"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: client

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build

      - name: Run tests
        run: npm test --if-present
